.home-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
}

.android-vs-ios {
  margin: 10px;
  display: flex;
  flex-direction: row;
  height: 40px;
  flex: initial;
  text-align: center;
}

.android-vs-ios-btn {
  flex: auto;
}

iframe {
  flex: auto;
}

app-toolbar{
  flex: initial;
}

.mat-button-toggle-checked {
  background-color: #0B75B0;
  color: white;
}
